body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: darkslateblue;
    color: antiquewhite;
}

#game {
    position: relative;
}

.hidden {
    display: none !important;
}

section {
    text-align: center;
    /* margin-top: auto; */
}

#landing, #mode, #players {
    margin-top: 180px;
}

.tagline {
    font-size: 20px;
    margin-bottom: 20px;
    color: #aaa;
}

.options {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-self: center;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

#game{
    margin-top: 80px;
}
.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #1efa4d;
    color: #55023c;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover {
    background-color: #c3158e;
    color: aliceblue;
}

button {
    padding: 10px 20px;
    margin: 3px;
    font-size: 16px;
    font-family: Verdana;
    font-weight: 520;
    cursor: pointer;
    background-color: coral;
    border: none;
    border-radius: 2cm;
    transition-duration: 0.1s;
}

button:hover {
    transform: scale(1.1);
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #00ffcc;
    }

    50% {
        box-shadow: 0 0 20px #00ffcc;
    }

    100% {
        box-shadow: 0 0 5px #00ffcc;
    }
}

.winner {
    animation: glow 1s infinite;
    background-color: #00ffcc;
    color: #000;
}

@keyframes pop {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#status {
    margin-top: -15px;
    animation: pop 0.6s ease;
    font-size: 22px;
}

.blur {
    filter: blur(6px);
}

#overlay {
    position: absolute;
    inset: 0;
    /* box-shadow: #aaaaaa6b; */
    /* background: rgb(195, 17, 183); */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    pointer-events: none;
}

#overlayText {
    font-size: 42px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    animation: announce 3s ease forwards;
}

@keyframes announce {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}


@media (max-width: 600px) {
    .board {
        grid-template-columns: repeat(3, 80px);
        gap: 8px;
    }

    .cell {
        width: 80px;
        height: 80px;
        font-size: 32px;
    }

    h1,
    h2 {
        font-size: 24px;
    }

    button {
        width: 80%;
        font-size: 16px;
    }

    input {
        width: 80%;
    }

    #overlayText {
        font-size: 28px;
    }
}